<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemur Lingo</title>

    <link rel="stylesheet" href="/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
</head>

<body>
    
    <div class="maindiv">

        <div class="left-main-div">

            <div class="title">Lemur Lingo</div>

            <img class="img-cloud" src="/images/cloud.png" alt="">

            <img class="img-leemur" src="/images/leemur.svg" alt="">

            <div class="txt-cloud" th:text="${taskText}"></div>


        </div>

        <div class="right-main-div">

            <!-- Use Thymeleaf to dynamically populate the exercise text -->
            <div class="question-div" th:text="${exerciseText}">(exercise text)</div>

            <div class="answer-div" id="answer-line"></div>

            <div class="choises-div" id="choises-div">
                <!-- Use Thymeleaf to dynamically generate choice buttons -->
                <button class="answer-btn" th:each="choice : ${choices}" th:text="${choice}">Choice</button>

            </div>

            <div class="controls-div">
                <a class="contorl-btn" id="control-btn-left" th:href="@{/games/phraseGame}">Skip</a>
                <a class="contorl-btn" id="control-btn-right">Check</a>
            </div>

        </div>

    </div>

    <script src="/js/index.js"></script>
</body>
</html>