.custom-gradient {
   background-color: #17a2b8 !important; /* Teal */
}

.custom-gradient-content{
    background-color: #F5F5F5 !important; /* Light grey */
}

.custom-table-content{
    background: linear-gradient(0deg, #17a2b8 0%, #6c757d 100%); /* Teal to dark grey */
}

.custom-add-button{
    background-color: #D1ECF1; /* Light teal */
}

.bi-search-icon {
    color: white;
}

.tags-section-gradient{
   background: linear-gradient(to bottom, #17a2b8, #ffffff); /* Teal to white */
}

.tags-cards-gradient{
   background-color: #f5f5f5 !important; /* Light grey */
}

.navbar-nav{
   justify-content: center;
}

.scrollable-gallery {
    max-height: 300px;
    overflow-y: auto;
}

.selected {
    border: 4px solid #28a745; /* Green */
}

html, body {
    height: 100%;
}

.content-wrapper {
    flex: 1;
}
