<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>LemurLingo Custom task Form</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/css/llapp.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
<!-- Navigation-->
<!-- Mush have placeholder present on every page(jQuery needs to load before bootstrap) -->
<div id="navbar-placeholder"></div>
<script>
    $(document).ready(function(){
        $("#navbar-placeholder").load("/sharedElements/navbar.html");
    });
</script>

<!-- Section-->
<section class="py-5 tags-section-gradient">
    <div class="container px-4 px-lg-5 mt-5">
        <p class="h4 text-white mb-4">Task Info</p>

        <form action="#" th:action="@{/customTasks/save}"
              th:object="${task}" method = "POST">

            <p th:errors="*{taskID}"></p>
            <input type="hidden" th:field="*{taskID}">

            <p th:errors="*{taskText}"></p>
            <input type="text" th:field="*{taskText}"
                   class="form-control mb-4 w-25" placeholder="Task:">

            <p th:errors="*{taskAnswer}"></p>
            <input type="text" th:field="*{taskAnswer}"
                   class="form-control mb-4 w-25" placeholder="Answer:">

            <p th:text="${errorMessage}"></p>

            <button type="submit" class="btn btn-info col-2"> Save </button>

            <br><br><br>

        </form>
        <br>
        <br>
        <a th:href="@{/customTasks/list}">Back to Tasks</a>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 custom-gradient fixed-bottom ">
    <div class="container"><p class="m-0 text-center text-white">Tim01 &copy; LemurLingo 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
</body>
</html>
